In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data.groupby('state')['state'].count().sort_values(ascending=False)

state
CA    21829
VA        7
NV        5
UT        2
OH        2
MD        2
FL        2
CT        2
WA        1
NC        1
Name: state, dtype: int64

In [4]:
data = data[data['state'] == 'CA']

In [5]:
data.groupby('state')['state'].count().sort_values(ascending=False)

state
CA    21829
Name: state, dtype: int64

In [6]:
data.groupby('county')['county'].count().sort_values(ascending=False)

county
Santa Clara        3593
Los Angeles        2918
San Diego          2917
San Francisco      2894
Sacramento         2290
Alameda            1942
San Mateo          1621
Sonoma             1230
Contra Costa        854
Marin               452
Placer              399
Solano              263
Yolo                166
Napa                123
San Joaquin          53
El Dorado            33
Mendocino            20
Kern                 12
Orange               10
Ventura               7
Lake                  7
Riverside             6
Monterey              4
Sutter                3
San Bernardino        3
San Benito            2
Stanislaus            2
Santa Cruz            1
Nevada                1
Imperial              1
San Luis Obispo       1
Siskiyou              1
Name: county, dtype: int64

In [7]:
data.groupby('county')['sqft'].median().sort_values(ascending=False)

county
San Luis Obispo    1450.0
El Dorado          1102.0
San Joaquin        1057.0
Ventura            1017.0
Riverside           968.0
Sonoma              950.0
Monterey            900.0
Napa                900.0
Placer              881.0
Solano              871.0
San Diego           864.0
Yolo                855.0
Contra Costa        850.0
Marin               843.0
San Mateo           826.0
Santa Clara         825.0
Sacramento          809.5
San Francisco       805.0
Los Angeles         800.0
Lake                800.0
Alameda             800.0
Mendocino           789.0
Orange              750.0
San Bernardino      627.0
Kern                520.0
Sutter              400.0
Imperial              NaN
Nevada                NaN
San Benito            NaN
Santa Cruz            NaN
Siskiyou              NaN
Stanislaus            NaN
Name: sqft, dtype: float64

In [8]:
data.groupby('county')['price'].median().sort_values(ascending=False)

county
Nevada             4500.0
San Francisco      3459.0
San Mateo          2931.0
Santa Clara        2695.0
Marin              2677.5
Alameda            2418.0
Ventura            2328.0
Sonoma             2232.5
Napa               2069.0
Contra Costa       2000.0
Los Angeles        1990.0
El Dorado          1850.0
San Diego          1846.5
Solano             1800.0
Monterey           1800.0
San Joaquin        1795.0
San Benito         1722.5
Riverside          1607.5
Placer             1575.0
Yolo               1515.0
San Luis Obispo    1500.0
San Bernardino     1495.0
Orange             1478.5
Sacramento         1330.0
Mendocino          1275.0
Stanislaus         1222.5
Santa Cruz         1200.0
Lake               1000.0
Kern                945.0
Sutter              850.0
Imperial            775.0
Siskiyou            360.0
Name: price, dtype: float64

In [9]:
data['price_foot'] = pd.to_numeric(data['price'])/pd.to_numeric(data['sqft'])

In [10]:
avg_rent = data.groupby('county')['price_foot'].median().sort_values(ascending=False)
avg_rent = pd.DataFrame(avg_rent[avg_rent.notna()])

In [11]:
avg_rent.reset_index(level=0, inplace=True)
avg_rent.columns = ['countyname','median_sqft_price']
avg_rent['countyname'] = avg_rent['countyname'] + ' County'

In [12]:
avg_rent

                countyname  median_sqft_price
0     San Francisco County           4.666667
1         San Mateo County           3.757553
2             Marin County           3.309019
3       Santa Clara County           3.278571
4           Alameda County           3.042126
5           Ventura County           2.626352
6       Los Angeles County           2.600000
7      Contra Costa County           2.483243
8    San Bernardino County           2.384370
9            Sonoma County           2.312500
10             Napa County           2.300551
11        San Diego County           2.284615
12           Orange County           2.220000
13           Solano County           2.204363
14           Sutter County           2.125000
15         Monterey County           2.000000
16             Kern County           1.913462
17      San Joaquin County           1.850299
18        El Dorado County           1.751927
19           Placer County           1.708547
20             Yolo County           1.683333
21        Riverside County           1.670971
22       Sacramento County           1.658477
23        Mendocino County           1.615970
24             Lake County           1.250000
25  San Luis Obispo County           1.034483

In [13]:
avg_rent.to_csv('county_avg_rent.csv', index=False)